/part06-Part06_01.Menu/target/
/part06-Part06_02.Stack/target/
/part06-Part06_03.MessagingService/target/
/part06-Part06_04.PrintingACollection/target/
/part06-Part06_05.SantasWorkshop/target/
/part06-Part06_06.LongestInCollection/target/
/part06-Part06_07.HeightOrder/target/
/part06-Part06_08.CargoHold/target/
/part06-Part06_09.SimpleDictionary/target/
/part06-Part06_10.TodoList/target/
/part06-Part06_11.Averages/target/
/part06-Part06_12.JokeManager/target/
/part06-Part06_13.Exercises/target/
/part07-Part07_01.LiquidContainers/target/
/part07-Part07_02.LiquidContainers2/target/
/part07-Part07_03.Sorting/target/
/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/part07-Part07_05.Searching/target/
/part07-Part07_06.GradeStatistics/target/
/part07-Part07_07.RecipeSearch/target/
/part07-Part07_08.BigYear/target/